teaminfo.pyc
blueapi.pyc
ccacontenders.py
update_local_files.py
blueapifile.py
blueapijson.py
blueapilocal.py
pnwcacontenders.py
awards.txt
blueapi.py
chairmans_analysis.py
chairmans_analysis.txt
districtinfo.py
events.txt
teams.txt
